body{
    background-color: #FFC700;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

.grid1{
    margin: 0px;
    height: 100vh;
    text-align: center;
    width: calc((100% / 2) - 0.3rem); /* divide a tela e da o desconto */

}

.grid2{
    margin: 0px;
    height: 100vh;
    background-color: #A12A2A;
    border-radius: 30px 0px 0px 30px;
    width: calc((100% / 2) - 0.3rem); /* divide a tela e da o desconto */
    

}

.logo img{
    width: 90%;
    margin-top:30px;
}
.slogan{
    padding-top: 50px;
    margin: auto;
    width: 80%;;
}
.cooker{
    max-width: 90%;
}
.banner-arrow{
    margin-top: 50px;
    display: none;
}
.banner-arrow .material-icons{
    font-size: 40px;
    /* animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: bounce; */
}
.calcBox{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100vh; /* verificar */
    max-width: 300px ;
    margin: auto;
    background-color: rgba(255, 255, 255, 50%);
    padding: 20px;
    border-radius: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 10px 5px 5px  rgba(0, 0, 0, 30%);
}
.calcBox h1, h2{
    text-align: center;
}


input{
    width: 100%;
    height: 40px;
    border: none;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.bt-black{
    margin-top: 5px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;

    border-radius: 20px;
    width: 100%;
    height: 36px;
    background-color: black;
    color: white;
}
#resultado p{
    margin-left: 10px;
    
}
#resultado img{
    width: 40px;
    vertical-align: middle;
}

/* mobile */
@media screen and (max-width: 850px){
    .grid1{
        width: 100%;
    }
    .grid2{
        width: 100%;
        border-radius: 20px 20px 0px 0px;
    }
    .banner-arrow{
        margin-top: 50px;
        display: block;
    }
}
